* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.header {
  background-color: #fff;
  padding: 20px;
}

.heading {
  margin-left: 50px;
}

.action-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.search-bar {
  padding: 20px;
  background-color: #fff;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  border-radius: 5px;
  /* box-shadow: 5px 5px 2px #000; */
}

.input {
  outline: none;
  border: none;
  flex: 1;
  margin-left: 20px;
  width: 100%;
}

#countries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.country-container {
  width: 250px;
  background-color: #fff;
  height: 310px;
  border-radius: 5px;
  margin: 60px 0 0 60px;
}

.flag-image {
  width: 250px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.country-name {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
}

.country-info-container {
  margin-left: 20px;
  margin-top: 10px;
}

.country-stats-container {
  font-size: 15px;
  text-transform: capitalize;
}

.data-heading {
}

.data-info {
  color: grey;
}
